{erl_opts, [
  debug_info,
  {parse_transform, lager_transform},
  {lager_truncation_size, 4096},
  warn_export_all,
  warn_unused_import
]}.

{deps, [
  {jiffy, {git, "git://github.com/davisp/jiffy", {tag, "0.14.5"}}},
  {lager, {git, "git://github.com/basho/lager", {tag, "3.0.2"}}}
]}.

{plugins, [
  pc,
  rebar3_run
]}.

{overrides,
  [{override, jiffy, [
    {provider_hooks, [
      {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
      ]}
    ]}
  ]}
]}.


